<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Переводчик</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <a href="/"><h1 class="text-center">T-Переводчик</h1></a>
    <p class="text-center">Введите текст для перевода:</p>
    <form id="translationForm" action="/translate">
        <div class="form-group">
            <textarea class="form-control" id="inputText" rows="5" placeholder="Введите текст..." name="t" required th:text="${text}"></textarea>
        </div>
        <div class="form-group">
            <div class="form-container">
                <div class="half">
                    <label for="languageSelect">Выберите исходный язык:</label>
                    <select class="form-control" id="languageSelect" name="slan" required >
                        <option aria-label="Азербайджанский" value="az">Азербайджанский</option>
                        <option aria-label="Албанский" value="sq">Албанский</option>
                        <option aria-label="Амхарский" value="am">Амхарский</option>
                        <option aria-label="Английский" value="en" selected="selected">Английский</option>
                        <option aria-label="Арабский" value="ar">Арабский</option>
                        <option aria-label="Армянский" value="hy">Армянский</option>
                        <option aria-label="Африкаанс" value="af">Африкаанс</option>
                        <option aria-label="Баскский" value="eu">Баскский</option>
                        <option aria-label="Башкирский" value="ba">Башкирский</option>
                        <option aria-label="Белорусский" value="be">Белорусский</option>
                        <option aria-label="Бенгальский" value="bn">Бенгальский</option>
                        <option aria-label="Бирманский" value="my">Бирманский</option>
                        <option aria-label="Болгарский" value="bg">Болгарский</option>
                        <option aria-label="Боснийский" value="bs">Боснийский</option>
                        <option aria-label="Валлийский" value="cy">Валлийский</option>
                        <option aria-label="Венгерский" value="hu">Венгерский</option>
                        <option aria-label="Вьетнамский" value="vi">Вьетнамский</option>
                        <option aria-label="Гаитянский" value="ht">Гаитянский</option>
                        <option aria-label="Галисийский" value="gl">Галисийский</option>
                        <option aria-label="Горномарийский" value="mrj">Горномарийский</option>
                        <option aria-label="Греческий" value="el">Греческий</option>
                        <option aria-label="Грузинский" value="ka">Грузинский</option>
                        <option aria-label="Гуджарати" value="gu">Гуджарати</option>
                        <option aria-label="Датский" value="da">Датский</option>
                        <option aria-label="Зулу" value="zu">Зулу</option>
                        <option aria-label="Иврит" value="he">Иврит</option>
                        <option aria-label="Идиш" value="yi">Идиш</option>
                        <option aria-label="Индонезийский" value="id">Индонезийский</option>
                        <option aria-label="Ирландский" value="ga">Ирландский</option>
                        <option aria-label="Исландский" value="is">Исландский</option>
                        <option aria-label="Испанский" value="es">Испанский</option>
                        <option aria-label="Итальянский" value="it">Итальянский</option>
                        <option aria-label="Казахский" value="kk">Казахский</option>
                        <option aria-label="Казахски" value="kazlat">Казахски</option>
                        <option aria-label="Каннада" value="kn">Каннада</option>
                        <option aria-label="Каталанский" value="ca">Каталанский</option>
                        <option aria-label="Киргизский" value="ky">Киргизский</option>
                        <option aria-label="Китайский" value="zh">Китайский</option>
                        <option aria-label="Корейский" value="ko">Корейский</option>
                        <option aria-label="Коса" value="xh">Коса</option>
                        <option aria-label="Кхмерский" value="km">Кхмерский</option>
                        <option aria-label="Лаосский" value="lo">Лаосский</option>
                        <option aria-label="Латынь" value="la">Латынь</option>
                        <option aria-label="Латышский" value="lv">Латышский</option>
                        <option aria-label="Литовский" value="lt">Литовский</option>
                        <option aria-label="Люксембургский" value="lb">Люксембургский</option>
                        <option aria-label="Македонский" value="mk">Македонский</option>
                        <option aria-label="Малагасийский" value="mg">Малагасийский</option>
                        <option aria-label="Малайский" value="ms">Малайский</option>
                        <option aria-label="Малаялам" value="ml">Малаялам</option>
                        <option aria-label="Мальтийский" value="mt">Мальтийский</option>
                        <option aria-label="Маори" value="mi">Маори</option>
                        <option aria-label="Маратхи" value="mr">Маратхи</option>
                        <option aria-label="Марийский" value="mhr">Марийский</option>
                        <option aria-label="Монгольский" value="mn">Монгольский</option>
                        <option aria-label="Немецкий" value="de">Немецкий</option>
                        <option aria-label="Непальский" value="ne">Непальский</option>
                        <option aria-label="Нидерландский" value="nl">Нидерландский</option>
                        <option aria-label="Норвежский" value="no">Норвежский</option>
                        <option aria-label="Осетинский" value="os">Осетинский</option>
                        <option aria-label="Панджаби" value="pa">Панджаби</option>
                        <option aria-label="Папьяменто" value="pap">Папьяменто</option>
                        <option aria-label="Персидский" value="fa">Персидский</option>
                        <option aria-label="Польский" value="pl">Польский</option>
                        <option aria-label="Португальский" value="pt">Португальский</option>
                        <option aria-label="Румынский" value="ro">Румынский</option>
                        <option aria-label="Русский" value="ru">Русский</option>
                        <option aria-label="Себуанский" value="ceb">Себуанский</option>
                        <option aria-label="Сербский" value="sr">Сербский</option>
                        <option aria-label="Сингальский" value="si">Сингальский</option>
                        <option aria-label="Словацкий" value="sk">Словацкий</option>
                        <option aria-label="Словенский" value="sl">Словенский</option>
                        <option aria-label="Суахили" value="sw">Суахили</option>
                        <option aria-label="Сунданский" value="su">Сунданский</option>
                        <option aria-label="Тагальский" value="tl">Тагальский</option>
                        <option aria-label="Таджикский" value="tg">Таджикский</option>
                        <option aria-label="Тайский" value="th">Тайский</option>
                        <option aria-label="Тамильский" value="ta">Тамильский</option>
                        <option aria-label="Татарский" value="tt">Татарский</option>
                        <option aria-label="Телугу" value="te">Телугу</option>
                        <option aria-label="Турецкий" value="tr">Турецкий</option>
                        <option aria-label="Удмуртский" value="udm">Удмуртский</option>
                        <option aria-label="Узбекский" value="uz">Узбекский</option>
                        <option aria-label="Узбекски" value="uzbcyr">Узбекски</option>
                        <option aria-label="Украинский" value="uk">Украинский</option>
                        <option aria-label="Урду" value="ur">Урду</option>
                        <option aria-label="Финский" value="fi">Финский</option>
                        <option aria-label="Французский" value="fr">Французский</option>
                        <option aria-label="Хинди" value="hi">Хинди</option>
                        <option aria-label="Хорватский" value="hr">Хорватский</option>
                        <option aria-label="Чешский" value="cs">Чешский</option>
                        <option aria-label="Чувашский" value="cv">Чувашский</option>
                        <option aria-label="Шведский" value="sv">Шведский</option>
                        <option aria-label="Шотландски" value="gd">Шотландски</option>
                        <option aria-label="Эсперанто" value="eo">Эсперанто</option>
                        <option aria-label="Эстонский" value="et">Эстонский</option>
                        <option aria-label="Яванский" value="jv">Яванский</option>
                        <option aria-label="Якутский" value="sah">Якутский</option>
                        <option aria-label="Японский" value="ja">Японский</option>
                    </select>
                </div>
                <div class="half">
                    <label for="languageSelect">Выберите язык перевода:</label>
                    <select class="form-control" id="languageTranslate" name="rlan" onselect="en" required>
                        <option aria-label="Азербайджанский" value="az">Азербайджанский</option>
                        <option aria-label="Албанский" value="sq">Албанский</option>
                        <option aria-label="Амхарский" value="am">Амхарский</option>
                        <option aria-label="Английский" value="en">Английский</option>
                        <option aria-label="Арабский" value="ar">Арабский</option>
                        <option aria-label="Армянский" value="hy">Армянский</option>
                        <option aria-label="Африкаанс" value="af">Африкаанс</option>
                        <option aria-label="Баскский" value="eu">Баскский</option>
                        <option aria-label="Башкирский" value="ba">Башкирский</option>
                        <option aria-label="Белорусский" value="be">Белорусский</option>
                        <option aria-label="Бенгальский" value="bn">Бенгальский</option>
                        <option aria-label="Бирманский" value="my">Бирманский</option>
                        <option aria-label="Болгарский" value="bg">Болгарский</option>
                        <option aria-label="Боснийский" value="bs">Боснийский</option>
                        <option aria-label="Валлийский" value="cy">Валлийский</option>
                        <option aria-label="Венгерский" value="hu">Венгерский</option>
                        <option aria-label="Вьетнамский" value="vi">Вьетнамский</option>
                        <option aria-label="Гаитянский" value="ht">Гаитянский</option>
                        <option aria-label="Галисийский" value="gl">Галисийский</option>
                        <option aria-label="Горномарийский" value="mrj">Горномарийский</option>
                        <option aria-label="Греческий" value="el">Греческий</option>
                        <option aria-label="Грузинский" value="ka">Грузинский</option>
                        <option aria-label="Гуджарати" value="gu">Гуджарати</option>
                        <option aria-label="Датский" value="da">Датский</option>
                        <option aria-label="Зулу" value="zu">Зулу</option>
                        <option aria-label="Иврит" value="he">Иврит</option>
                        <option aria-label="Идиш" value="yi">Идиш</option>
                        <option aria-label="Индонезийский" value="id">Индонезийский</option>
                        <option aria-label="Ирландский" value="ga">Ирландский</option>
                        <option aria-label="Исландский" value="is">Исландский</option>
                        <option aria-label="Испанский" value="es">Испанский</option>
                        <option aria-label="Итальянский" value="it">Итальянский</option>
                        <option aria-label="Казахский" value="kk">Казахский</option>
                        <option aria-label="Казахски" value="kazlat">Казахски</option>
                        <option aria-label="Каннада" value="kn">Каннада</option>
                        <option aria-label="Каталанский" value="ca">Каталанский</option>
                        <option aria-label="Киргизский" value="ky">Киргизский</option>
                        <option aria-label="Китайский" value="zh">Китайский</option>
                        <option aria-label="Корейский" value="ko">Корейский</option>
                        <option aria-label="Коса" value="xh">Коса</option>
                        <option aria-label="Кхмерский" value="km">Кхмерский</option>
                        <option aria-label="Лаосский" value="lo">Лаосский</option>
                        <option aria-label="Латынь" value="la">Латынь</option>
                        <option aria-label="Латышский" value="lv">Латышский</option>
                        <option aria-label="Литовский" value="lt">Литовский</option>
                        <option aria-label="Люксембургский" value="lb">Люксембургский</option>
                        <option aria-label="Македонский" value="mk">Македонский</option>
                        <option aria-label="Малагасийский" value="mg">Малагасийский</option>
                        <option aria-label="Малайский" value="ms">Малайский</option>
                        <option aria-label="Малаялам" value="ml">Малаялам</option>
                        <option aria-label="Мальтийский" value="mt">Мальтийский</option>
                        <option aria-label="Маори" value="mi">Маори</option>
                        <option aria-label="Маратхи" value="mr">Маратхи</option>
                        <option aria-label="Марийский" value="mhr">Марийский</option>
                        <option aria-label="Монгольский" value="mn">Монгольский</option>
                        <option aria-label="Немецкий" value="de">Немецкий</option>
                        <option aria-label="Непальский" value="ne">Непальский</option>
                        <option aria-label="Нидерландский" value="nl">Нидерландский</option>
                        <option aria-label="Норвежский" value="no">Норвежский</option>
                        <option aria-label="Осетинский" value="os">Осетинский</option>
                        <option aria-label="Панджаби" value="pa">Панджаби</option>
                        <option aria-label="Папьяменто" value="pap">Папьяменто</option>
                        <option aria-label="Персидский" value="fa">Персидский</option>
                        <option aria-label="Польский" value="pl">Польский</option>
                        <option aria-label="Португальский" value="pt">Португальский</option>
                        <option aria-label="Румынский" value="ro">Румынский</option>
                        <option aria-label="Русский" value="ru" selected="selected">Русский</option>
                        <option aria-label="Себуанский" value="ceb">Себуанский</option>
                        <option aria-label="Сербский" value="sr">Сербский</option>
                        <option aria-label="Сингальский" value="si">Сингальский</option>
                        <option aria-label="Словацкий" value="sk">Словацкий</option>
                        <option aria-label="Словенский" value="sl">Словенский</option>
                        <option aria-label="Суахили" value="sw">Суахили</option>
                        <option aria-label="Сунданский" value="su">Сунданский</option>
                        <option aria-label="Тагальский" value="tl">Тагальский</option>
                        <option aria-label="Таджикский" value="tg">Таджикский</option>
                        <option aria-label="Тайский" value="th">Тайский</option>
                        <option aria-label="Тамильский" value="ta">Тамильский</option>
                        <option aria-label="Татарский" value="tt">Татарский</option>
                        <option aria-label="Телугу" value="te">Телугу</option>
                        <option aria-label="Турецкий" value="tr">Турецкий</option>
                        <option aria-label="Удмуртский" value="udm">Удмуртский</option>
                        <option aria-label="Узбекский" value="uz">Узбекский</option>
                        <option aria-label="Узбекски" value="uzbcyr">Узбекски</option>
                        <option aria-label="Украинский" value="uk">Украинский</option>
                        <option aria-label="Урду" value="ur">Урду</option>
                        <option aria-label="Финский" value="fi">Финский</option>
                        <option aria-label="Французский" value="fr">Французский</option>
                        <option aria-label="Хинди" value="hi">Хинди</option>
                        <option aria-label="Хорватский" value="hr">Хорватский</option>
                        <option aria-label="Чешский" value="cs">Чешский</option>
                        <option aria-label="Чувашский" value="cv">Чувашский</option>
                        <option aria-label="Шведский" value="sv">Шведский</option>
                        <option aria-label="Шотландски" value="gd">Шотландски</option>
                        <option aria-label="Эсперанто" value="eo">Эсперанто</option>
                        <option aria-label="Эстонский" value="et">Эстонский</option>
                        <option aria-label="Яванский" value="jv">Яванский</option>
                        <option aria-label="Якутский" value="sah">Якутский</option>
                        <option aria-label="Японский" value="ja">Японский</option>
                    </select>
                </div>
                <div class="half-separator">
                    <label for="languageSelect">Выберите разделитель:</label>
                    <select class="form-control" id="separator" name="sep" required>
                        <option value=" ">Пробел</option>
                        <option value=",">Запятая</option>
                        <option value=":">Двоеточие</option>
                        <option value=";">Точка с запятой</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-translate btn-block"><i class="fas fa-paper-plane"></i> Перевести</button>
    </form>

    <div th:if="${srcLanguage}">
    <script th:inline="javascript">
        const obj1 = document.getElementById("languageSelect");
        const lan1 = [[${srcLanguage}]];
        obj1.value = lan1;
    </script>
    </div>

    <div th:if="${resultLanguage}">
        <script th:inline="javascript">
            const obj2 = document.getElementById("languageTranslate");
            const lan2 = [[${resultLanguage}]];
            obj2.value = lan2;
        </script>
    </div>

    <div th:if="${separator}">
        <script th:inline="javascript">
            const obj3 = document.getElementById("separator");
            const sep = [[${separator}]];
            obj3.value = sep;
        </script>
    </div>

    <div class="mt-4">
        <h3>Результат перевода:</h3>
        <div id="result" class="alert alert-secondary result-box" role="alert">
            <p th:text="${resultText}"></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<!--<script type="text/javascript">-->
<!--    document.getElementById('languageSelect').value = $('#languageSelect').val();-->
<!--    const lan = "${resultText}"-->
<!--    alert(lan);-->
<!--</script>-->

</body>
</html>